* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.img-header {
    max-width : 80px;
}

.header-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: solid 5px darkgreen;
    margin-bottom: 50px;
}

h1 {
    color: #67b134;
    margin-bottom: 0px;
}

.img-title {
    max-width: 100px;
}

.form-part1 {
    display: flex;
    flex-direction: column;
}

.form-part1-fieldset1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#name {
    border: none;
    border-bottom: solid 3px blue;
}

#firstname {
    border: none;
    border-bottom: solid 3px blue;
}

select {
    font-weight: initial;
}

option {
    font-weight: initial;
}

h2 {
    color: blue;
    margin-bottom: 0px;
}

.form-part1-fieldset2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#le {
    border: none;
    border-bottom: solid 3px;
}

span::after {
    padding-left: 5px;
}
  
input:invalid + span:after {
    content: '✖';
    color: red;
}
  
input:valid + span:after {
    content: '✓';
    color: green;
}

#de {
    border: none;
    border-bottom: solid 3px;
}

#a {
    border: none;
    border-bottom: solid 3px;
}

#du {
    border: none;
    border-bottom: solid 3px;
}

#au {
    border: none;
    border-bottom: solid 3px;
}

#soit {
    border: none;
    border-bottom: solid 3px;
}

input {
    font-weight: initial;
}

.form-part2 {
    display: table;
}

h3 {
    color: #67b134;
}

li {
    list-style: none;
    padding: 1.5px;
    background-color: lightgrey;
    border: solid 1px;
    border-radius: 3px;
    font-weight: initial;
}

button {
    margin: 10px;;
}